# created by virtualenv automatically
*

!.gitignore

!*/
!manage.py
!requirements.txt
!render.yaml
!README.md
!db.sqlite3

!developmentsite/
!main/
!experience/
!education/
!hobbies/
!contacts/
!certificates/
!games/
!static/
!media/
!templates/
__pycache__/
*.py[cod]
*.pyc
*.pyo
.venv/
env/