{% extends "base.html" %}
{% block section_class %}contacts-section{% endblock %}
{% block content %}
<h2 class="mb-4 text-black fw-bold">Contact Information</h2>
<ul class="list-group mb-4">
    <li class="list-group-item">Email: <a href="mailto:teodor.ivanov.2498@gmail.com">teodor.ivanov.2498@gmail.com</a></li>
    <li class="list-group-item">Phone: <a href="tel:+359 88 206 7444">+359 88 206 7444</a></li>
    <li class="list-group-item">GitHub: <a href="https://github.com/teodorivanov98" target="_blank">https://github.com/teodorivanov98</a></li>
    <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/teodor-ivanov-path1/" target="_blank">LinkedIn Profile</a></li>
</ul>
{% endblock %}